* {
    margin: 0;
    padding: 0;
    font-style: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #424242;
    display: flex;
    flex-direction: column;
    

}

.header {
width: 100%;
height: 150px;
background-image: url(https://wallpaperaccess.com/full/4742360.jpg);
background-size: contain;
font-size: 50px;
font-weight: bolder;
font-style: italic;
text-align: center;
color: white;



}
.form {
    display: flex;
    flex-direction: column;
    z-index: 100;
    gap: 5px;
    align-content: center;
    justify-content: center;
    height: 200px;
 width: 300px;
position: absolute;
margin-top: 220px;
margin-left: 550px;
visibility: hidden;
background-image: url(https://c1.wallpaperflare.com/preview/702/567/820/literature-wisdom-know-library.jpg);
background-size: cover;
border-radius: 10px;
text-align: center;
}
.form > button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    align-self: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
   

    

}
.form > button:hover {
    background-color: lightslategray;
}
.form > input {
    width: 200px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-self: center;
    padding-left: 5px;
   
}
#body {
    width: 100%;
    height: 500px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    
}

#showBtn {
    border-radius: 50%;
    background-color: white;
    border: none;

    height: 50px;
    width: 50px;
font-size: 40px;
font-weight: bolder;
display: flex;
justify-content: center;

cursor: pointer;

}


table {
    width: 100%;
    background-color: #272822;
    color: #f8f8f2;
    border-spacing: 0;
    border-bottom: 5px solid #272822;
    /*
    border: 1px solid #fefefe; or #dddbcc
    border-collapse: separate;
    border-spacing: 0;
    */
  }
  
  th {
    padding: 10px 10px;
  }
  
  td {
    padding: 10px;
    text-align: center;
  }
  
  tbody {
    background-color: #fefefe;
    color: #424242;

  }

 td > button {
  width: 150px;
  height: 25px;
  border: none;
  background-color: #272822;
  color: #f8f8f2;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  padding: 5px 10px 5px 10px;
}
td > button:hover {
    background-color: lightslategray;
}

#showBtn:hover {
    background-color: black;
    color: azure;
    border: 1px solid azure;
}

.btn {
    display: flex;
    justify-content: center;
}

.radio {
    display: inline-flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

span {
    color: white;
    padding-left: 5px;
}

